.careerPage {
    min-height: 100vh;
    padding-top: var(--navbar-height);
    background: #000;
    color: #fff;
}

@media (max-width: 900px) {
    .careerPage {
        padding-top: var(--navbar-mobile-height);
    }
}